*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.data{
    width: 100%;
    height: 20vh;
   background-color: #ddd;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   
}

.contain{
    width: 100%;
    height: 80vh;
    /* background-color: rgb(196, 143, 82); */
    display: flex;
    border-radius: 10px

}
.right{
     width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.left{
    width: 50%;
    height: 80vh;
    /* background-color: rgb(229, 200, 167); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    /* margin-bottom: 20px; */
    /* width: 50%; */

        /* background: aqua; */
    padding: 10px 58px;
    width: 70%;
    margin-top: 23px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.send-btn{
    background: #007bff;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
.input-group{
     margin-bottom: 20px;
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

textarea {
    height: 120px;
}

.left i{
font-size: 50px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.icon{
    /* background-color: rgb(209, 235, 235); */
    border-radius: 10px;
}